<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <h1 align="center">Busqueda de imagenes</h1>
</head>
<body>
<form method="POST" enctype="multipart/form-data" align="center">
  Seleccione la imagen
  <div></div>
  </br>
  <input type="file" name="file">
  </br>
  </br>
  </br>
  </br>
  <div></div>
  Ingrese el numero de imagenes a retornar
  <div></div>
  </br>
  <input type="number" name="k">
  <div></div>
  </br>
  </br>
  </br>
  </br>
  <input type="submit" value="Cargar">
  <div></div>
  </br>
  Perdone por el simple diseno pero no he usado mucho html antes
</form>
</body>
</html>
